extends root

block imports
  link(rel="stylesheet", href="/styles/meet.css")

block content
  main
    header
      .year= meet.year
      .opponent Dover-Sherborn v. #{meet.opponent}
      .score-grouping
        .sex Girls
        if meet.girlsHomeScore > meet.girlsOpponentScore
          .score.majority= meet.girlsHomeScore
          .score= meet.girlsOpponentScore
        else
          .score= meet.girlsHomeScore
          .score.majority= meet.girlsOpponentScore
      .score-grouping
        .sex Boys
        if meet.boysHomeScore > meet.boysOpponentScore
          .score.majority= meet.boysHomeScore
          .score= meet.boysOpponentScore
        else
          .score= meet.boysHomeScore
          .score.majority= meet.boysOpponentScore
    h2 Girls Results
    if meet.girlsSpreadsheet != null
      - var girlsURL = "https://drive.google.com/viewerng/viewer?embedded=true&url=http://api.dssd.team" + meet.girlsSpreadsheet.url
      .object-wrapper
        embed(src=girlsURL)
    else
      p.spreadsheet-error No spreadsheet added.
    h2 Boys Results
    if meet.boysSpreadsheet != null
      - var boysURL = "https://drive.google.com/viewerng/viewer?embedded=true&url=http://api.dssd.team" + meet.boysSpreadsheet.url
      .object-wrapper
        embed(src=boysURL)
    else
      p.spreadsheet-error No spreadsheet added.
    
